@model OUDAL.AssetUser
@using Mall
@using BMS.Web.BLL
@using OUDAL
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    var user = new SystemUser();
    if(Model.UserId!=null){user= BMS.Web.BLL.UserBLL.GetById((int)Model.UserId);}
}

<h2>Asset User Log</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@section Main{


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Asset User Log</legend>
         @Html.HiddenFor(model => model.Id)
        <table class="form">
            <tr><td class="form-item">设备</td><td>@ViewBag.asset.Name @ViewBag.asset.AssetNo</td></tr>
            <tr><td class="form-item">使用人</td><td>@user.ChineseName</td></tr>            
            <tr>@Html.MyDateFor(m => m.EndDate,false)</tr>
        </table>
        <p>
            <input type="submit" value="Save" />
           
        </p>
    </fieldset>
}
