@model OUDAL.Supplier
@using OUDAL
@using BMS.Web
@using BMS.Web.BLL
@{
   
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

<script type="text/javascript">
    jQuery(document).ready(function () {   
    $( ".datepicker" ).datepicker({changeMonth: true,changeYear: true,showButtonPanel: true,showOtherMonths: true,selectOtherMonths: true});
   
}); 
</script>
<div style="width:500px;margin:0px auto">
@using (Html.BeginForm() ){
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <fieldset>
        <legend>变更密码</legend>
        <div class="editor-label">
            @Model.Name
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>  
        <div class="editor-label">
            <label for="ConfirmPassword">确认密码</label>
        </div>
        <div class="editor-field">
            @Html.Password("ConfirmPassword")
            @Html.ValidationMessage("ConfirmPassword")
        </div>    
    </fieldset>
    <br/>
    <p><input class="btn" type="submit" value="保存" /> <input class="btn" type="button" value="取消" onclick="window.close()" /></p>
}
</div>

